/* Custom CSS styles for the admin page */

body {
    background-color: #f7f7f7;
}

#manage-appointments-container{
    margin-left: 55%;
    margin-top: -17.9%;
}
#manage-barbershops-container{
    margin-top: 11%;
}

.container {
    min-width: 600px;
    max-width: 600px;

    margin-left: 9%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(17px);
}

.container h1 {
    margin-bottom: 30px;
    color: white;
    text-align: center;
    text-shadow: 6px 6px 6px black; /* horizontal offset, vertical offset, blur radius, color */
}


.card {
    /*box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);*/
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border: none;
}

.card-header {
    background-color: #C8A47E;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 5px black;
}

.card-body {
    padding: 20px;
    display: none;
}

.form-group label{
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.form-control {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary {
    margin-top: 30px;
    background-color: #C8A47E;
    border-color: #ebaa4c;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    color: white;
}

.btn-primary:hover {
    background-color: #ebaa4c;
    border-color: #ebaa4c;
}






.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}

.card-header {
    background-color: #C8A47E;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    padding: 20px;
    display: none;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.form-control {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary {
    margin-top: 30px;
    background-color: #C8A47E;
    border-color: #ebaa4c;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    color: white;
}

.btn-primary:hover {
    background-color: #ebaa4c;
    border-color: #ebaa4c;
}

#search-results, #delete-search-results {
    margin-top: 20px;
}

#delete-search-results {
    padding: 10px;
}

#search-results .result-item .delete-search-results{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

#search-results .result-item:hover .delete-search-results:hover{
    background-color: #ebaa4c;
    color: white;
}

.search-result-item, .delete-search-results {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;


}

.search-result-item:hover {
   /*background-color: #f0f0f0;*/
}

.results-header:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.search-result-content{


}
.search-result-content:hover .search-result-item{
    background-color: white;
}

.toggle-edit-barbershop-settings-btn{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* This makes the button take the full width of its container */
    background-color: #f8f9fa; /* Light grey background */
    color: #000; /* Black text */
    font-size: 16px; /* Larger font size for better readability */
}
.toggle-edit-barbershop-settings-btn:hover{
    cursor: pointer;
    background-color: #e2e6ea;
}

.edit-barbershop-settings-container{

}
.edit-settings-content{

}

.toggle-add-barbers-btn, .toggle-edit-barbers-btn, .toggle-delete-barbers-btn, .toggle-add-haircuts-btn, .toggle-edit-haircuts-btn, .toggle-delete-haircuts-btn{
    margin-top: 24px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%; /* This makes the button take the full width of its container */
    background-color: #f8f9fa; /* Light grey background */
    color: #000; /* Black text */
    font-size: 15px; /* Larger font size for better readability */
}

.toggle-add-barbers-btn:hover, .toggle-edit-barbers-btn:hover, .toggle-delete-barbers-btn:hover, .toggle-add-haircuts-btn:hover, .toggle-edit-haircuts-btn:hover, .toggle-delete-haircuts-btn:hover{
    cursor: pointer;
    background-color: #e2e6ea;
}


.form-control-settings {
    border-radius: 5px;
    margin-top: 3px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 80%;
    box-sizing: border-box;
}

.form-group-settings label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-top: 20px;
}

/* Style for the custom checkbox container */
/* Style for the custom checkbox container */
.form-group-settings #settings-add-barber-working-days {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between checkboxes */
}
.form-group-settings #settings-edit-barber-working-days{
    display: flex;
    flex-wrap: wrap; /* Allow checkboxes to wrap if there's not enough space */
    gap: 20px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox label {
    margin-top: -2px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #2821eb;
}

.custom-checkbox.checked .checkmark {
    background-color: #0d05fa;
    border-color: #0d05fa;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox.checked .checkmark:after {
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    flex: 1;
}

.input-group .input-group-append {
    display: flex;
    align-items: center;
}

.input-group .btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.input-group .btn:hover {
    background-color: #e2e6ea;
}


.ul-barbers {
    list-style-type: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.ul-barbers li {
    background-color: #f8f9fa; /* Light gray background for list items */
    border: 1px solid #dee2e6; /* Light gray border for list items */
    padding: 10px; /* Add some padding */
    margin-bottom: 5px; /* Space between list items */
    border-radius: 5px; /* Rounded corners */
    display: flex; /* Flexbox for better layout control */
    align-items: center; /* Center items vertically */
}

.ul-barbers li:hover {
    background-color: #e2e6ea; /* Slightly darker background on hover */
}

.ul-barbers li i {
    margin-right: 10px; /* Space between icon and text */
    color: #6c757d; /* Gray color for icons */
}


.confirm-delete{

}
.confirm-delete button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de0404;
    color: white;
    font-weight: 420;
    font-size: 17px;
    padding: 10px;
    width: 40%;
    border-radius: 7px;
    border: 1px solid grey;
    margin: 15px;
    transition: 0.45s all;
    float: left;
    cursor: pointer;
}

.confirm-delete button:hover{
    background-color: #e01f1f;
    scale: 1.04;
}
confirm-delete button i{

}
.appointment-card {
    background-color: #fff3e6; /* Light warm background color */
    border: 1px solid #ffcc99; /* Slightly darker border to match warm theme */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-bottom: 20px; /* Spacing between cards */
    overflow: hidden; /* Ensure inner elements don't overflow the card */
    transition: transform 0.2s; /* Smooth hover effect */
}

.appointment-card:hover {
    transform: scale(1.024); /* Slightly enlarge on hover */
    background-color: #f0dcc7;
}

.appointment-header {
    background-color: #ffcc99; /* Matching header background */
    color: #5a3e2b; /* Darker text color for readability */
    padding: 10px 15px; /* Padding for spacing */
    font-size: 1.2em; /* Slightly larger font size */
    font-weight: bold; /* Bold header */
}

.appointment-body {
    padding: 15px; /* Padding for body content */
}

.appointment-body p {
    margin: 5px 0; /* Margin between paragraphs */
    font-size: 1em; /* Normal font size */
    color: #5a3e2b; /* Matching text color */
}

.appointment-body p.appointment-id {
    font-weight: bold;
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.customer-id {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.customer-first-name {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.customer-last-name {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.customer-phone-number {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.appointment-date {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.appointment-time {
    color: #0d0c0c; /* Highlighted text color */
}
.appointment-body p.duration-minutes {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.barbershop-name {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.address {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.barber-first-name {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.barber-last-name {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.haircut-name {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.price {
    color: #0d0c0c; /* Highlighted text color */
}

.appointment-body p.created-date {
    color: #0d0c0c; /* Highlighted text color */
}

.delete-appointments-container{
    display: flex;
    align-items: center;
}

.delete-appointment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de0404;
    color: white;
    font-weight: 420;
    font-size: 17px;
    padding: 10px;
    width: 50%;
    border-radius: 7px;
    border: 1px solid grey;
    margin: 15px;
    transition: 0.45s all;
    float: left;
    cursor: pointer;
}

.delete-appointment-button:hover {
    background-color: #e01f1f;
    transform: scale(1.04);
}


.suggestions {

    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
    width: 86.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.suggestion-item:hover {
    background-color: #d67f54;
    color: white;
}

/* Style the select element itself */
#haircut-select.styled-select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #333;
    background-color: #fff;

    cursor: pointer;
}

/* Add hover and focus effects for better interaction */
#haircut-select.styled-select:hover, #haircut-select.styled-select:focus {
    border-color: #0056b3;
    outline: none;
}

/* Style the options within the select */
#haircut-select.styled-select option {
    background-color: #f9f9f9;
    color: #333;
    font-size: 19px;
    padding: 10px;
}

/* Hover effect on options (works in some browsers) */
#haircut-select.styled-select option:hover {
    background-color: #007bff;
    color: white;
}

#settings-edit-barber.styled-select-barbers{
    width: 80%;
    padding: 10px;
    font-size: 15px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

#settings-edit-barber.styled-select-barbers:hover, #settings-edit-barber.styled-select-barbers:focus {
    border-color: #0056b3;
    outline: none;
}

#settings-edit-barber.styled-select-barbers option {
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    padding: 10px;
}

/* Hover effect on options (works in some browsers) */
#settings-edit-barber.styled-select-barbers option:hover {
    background-color: #007bff;
    color: white;
}



#settings-delete-barber.styled-select-to-delete-barbers{
    width: 80%;
    padding: 10px;
    font-size: 15px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

#settings-delete-barber.styled-select-to-delete-barbers:hover, #settings-delete-barber.styled-select-to-delete-barbers:focus {
    border-color: #0056b3;
    outline: none;
}

#settings-delete-barber.styled-select-to-delete-barbers option {
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    padding: 10px;
}

/* Hover effect on options (works in some browsers) */
#settings-delete-barber.styled-select-to-delete-barbers option:hover {
    background-color: #007bff;
    color: white;
}


input[type="time"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="time"]:focus, input[type="date"]:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Styling the #appointment-time select element */
#appointment-time {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#appointment-time option:hover {
    background-color: #007bff;
    color: white;
}
/*
.delete-barber-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de0404;
    color: white;
    font-weight: 420;
    font-size: 17px;
    padding: 10px;
    width: 30%;
    border-radius: 7px;
    border: 1px solid grey;
    margin: 15px;
    transition: 0.45s all;
    float: left;
    cursor: pointer;
    text-align: center;
}
.delete-barber-btn:hover {
    background-color: #e01f1f;
    transform: scale(1.04);
}
*/
/* CSS */

.delete-barber-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.delete-barber-container p {
    margin-left: 10px;
    margin-top: 10px;
}

.delete-barber-btn {
    align-items: center;
    background-image: linear-gradient(144deg, #f23333, #e6202d 50%, #e00732);
    /*background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); ORIGINAL*/
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 80%;
    min-width: 120px;
    padding: 12px; /* Adjusted padding */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.45s all;
    float: left;
    text-align: center; /* Center text inside the button */
}

.delete-barber-btn:active,
.delete-barber-btn:hover {
    outline: 0;
    transform: scale(1.04);
}

.delete-barber-btn:hover {
    background-color: rgb(214, 6, 47); /* Adjusted hover effect */
    transition: 300ms;
}
