@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url('/static/images/main-page.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


header {
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(4px);
    padding: 15px 6%;
    position: relative;
    z-index: 1090; /* High z-index to ensure it's above other content */
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links-left, .nav-links-logo, .nav-links-right, .buttons {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links-left li, .buttons li {
    margin: 0 10px;
}

.nav-links-left {
    margin-left: 70px;
}
.nav-links-left li{
    margin-right: 50px;
}


.nav-links-left li a, .nav-links-right li a {
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.nav-links-left li:hover, .nav-links-right li:hover, .buttons li:hover {
    transform: scale(1.15);
    transition: 0.3s ease;
}

.nav-links-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 70px;
    cursor: pointer;
}

.nav-links-right {
    margin-left: 10%; /* Adjust this value to move social icons slightly to the right */
}

.nav-links-right li {
    margin-left: 80px; /* Adjust this value to add spacing between the social icons */
}

.social-icon {
    width: 25px;
}

.nav-links-right li:hover .social-icon {
    transform: scale(1.15);
    transition: 0.3s ease;
    cursor: pointer;
}

.buttons .login-button, .buttons .signup-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button {
    background-color: #C8A47E;
}

.signup-button {
    background-color: #ebaa4c;
}

.login-button:hover, .signup-button:hover {
    background-color: rgba(0,136,169,0.75);
}

.dropdown-wrapper {
    position: relative;
    z-index: 1091; /* Higher than the header */
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: none;
    color: #edf0f1;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Add some padding */
    border-radius: 5px; /* Add border-radius for rounded corners */
    background-color: rgba(0, 0, 0, 0.2); /* Add a subtle background color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown .dropbtn i {
    margin-left: 10px; /* Add margin to the left of the icon */
}
.dropdown .dropbtn:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
}

.dropdown-content {
    font-weight: bold;
    font-size: 18px;
    display: none; /* Hidden by default */
    position: absolute;
    background-color: rgba(0,0,0,0.9); /* Darker background color */
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Add shadow for depth */
    z-index: 1;
    border-radius: 10px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0px 0; /* Add padding inside the dropdown */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px; /* Add border-radius for rounded corners */
    margin: 3px 0; /* Add margin between links */
}

.dropdown-content a:hover {
    background-color: rgba(255,255,255,0.2); /* Change background color on hover */
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-content a i {
    margin-left: 6px;
}

@media (max-width: 1080px){
    header {
        background-color: rgba(0,0,0, 0.5);
        padding: 15px 4.5%;
    }
    .nav-links-left {
        margin-left: 0px;
    }
    .nav-links-left li{
        margin-right: 20px;
    }
    .nav-links-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-links-left{
        margin-left: -20px;
    }

    .nav-links-right {
        display: flex;
        align-items: center;
        margin-right: -50px;
    }

    .nav-links-right li:first-child {
         margin-left: 0; /* Remove margin before the first item */
    }

    .nav-links-right li {
         margin-left: 40px;
    }

    .dropdown-content {
        top: 50px;
    }

    .buttons:first-child{
        margin-left: 0;
    }

    .buttons{
        margin-right: -20px;
    }

    .login-button{
        margin-right: -10px;

    }

    .signup-button{
        margin-right: -25px;

    }
}
.footer {
    background-color: #1a1818;
    color: #f1f1f1;
    padding: 40px 0;
    text-align: left;
    margin-top: 295px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-section {
    flex: 1;
    margin: 0 20px 30px;
    min-width: 200px;
}

.footer-section h2 {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #b3b3b3;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #b3b3b3;
    transition: color 0.3s;
    font-size: 0.9rem;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-section.contact p i {
    margin-right: 10px;
}

.footer-section.contact{
    margin-right: 80px;
    min-width: 22%;
}

.social-icons-footer {
    display: flex;
    margin-top: 20px;
}

.social-icon-footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #3b3b3b;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 15px;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.social-icon-footer:hover {
    background-color: #f1f1f1;
    color: #2c2c2c;
}

.become-barber {
    text-align: center;

    padding: 30px;
    border-radius: 8px;
    margin-top: -30px;
    width: 100%;
}

.become-barber h2 {
    margin-bottom: 20px;
    color: #f1f1f1;
    font-size: 1.4rem;
}

.become-barber p {
    margin-bottom: 25px;
    color: #ccc;
    font-size: 1rem;
}

.button-become-barber {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.button-become-barber:hover {
    background-color: #cf6d1d;
}

.footer-bottom {
    text-align: center;
    margin-top: -30px;
    font-size: 0.9rem;
    color: #b3b3b3;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-section {
        margin: 0 0 40px;
        min-width: unset;
    }

    .footer-section h2 {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }

    .footer-section p,
    .footer-section ul li a {
        font-size: 0.9rem;
    }

    .social-icon-footer {
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
        margin-right: 12px;
    }

    .become-barber {
        margin-top: 20px;
        padding: 25px;
    }

    .become-barber h2 {
        font-size: 1.3rem;
    }

    .become-barber p {
        font-size: 0.9rem;
    }

    .button-become-barber {
        font-size: 0.9rem;
        padding: 10px 20px;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 40px;
        font-size: 0.9rem;
        color: #b3b3b3;
    }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
    .footer{
        margin-top: 500px;
    }
    .footer-section {
        flex-basis: calc(50% - 40px);
    }
    .footer-section.links{
        margin-right: -60px;
    }
    .footer-section.contact{
        font-size: 10px;
        margin-right: 20px;
        min-width: 30%;
    }

    .footer-section.contact p i{
        margin-left: 8px;
    }

    .footer-section.contact p, footer-section.links ul a{
        font-size: 10px;
    }

    .footer-section.links ul li{
        margin-top: -10px;
    }
    .footer-section.links ul li a {
        font-size: 10px;
    }

    .become-barber {
        flex-basis: 100%;
    }

    .footer-bottom {
        margin-top: 40px;
    }
}