{% extends "base.html" %}

{% block title %}Choose available day{% endblock %}

{% block head_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/available-days.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"/>
<script src="{{ url_for('static', filename='js/available-days.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-section">
    <div class="back-wrapper">
        <button type="button" class="back" onclick="window.location.href='/locations/target-haircut/barbers'">Back</button>
    </div>
    <div class="frame-parent">
        <b class="heading-1">Choose Available Day</b>
        <form class="days-grid" method="post">
            {% for day in available_days %}
            <button type="submit" name="day" value="{{ day }}" class="day {day}}">{{ day }}</button>
            {% endfor %}
        </form>

        <div class="controls">
            <button type="button" class="back-to-previous hidden">Back</button>
            <button type="button" class="show-more">Show More</button>
        </div>
    </div>
</div>
{% endblock %}
