<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block head_links %}{% endblock %}
</head>
<body>
<header>
    <nav>
        <ul class="nav-links-left">
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
        <ul class="nav-links-logo">
            <li><a href="/"><img class="logo" alt="Logo" src="{{ url_for('static', filename='images/logo.png') }}"></a></li>
        </ul>
        <ul class="nav-links-right">
            <li><a href="https://www.instagram.com"><img class="social-icon" alt="Instagram" src="{{ url_for('static', filename='images/insta.png') }}"></a></li>
            <li><a href="https://www.facebook.com"><img class="social-icon" alt="Facebook" src="{{ url_for('static', filename='images/facebook.png') }}"></a></li>
            <li><a href="https://www.twitter.com"><img class="social-icon" alt="X" src="{{ url_for('static', filename='images/x.png') }}"></a></li>
        </ul>
        {% if not user.is_authenticated %}
        <ul class="buttons">
            <li><button type="button" class="login-button" onclick="window.location.href='/login'">Login</button></li>
            <li><button type="button" class="signup-button" onclick="window.location.href='/register'">Sign Up</button></li>
        </ul>
        {% else %}
        <ul class="dropdown-wrapper">
            <li class="dropdown" role="button">
                <a href="javascript:void(0)" class="dropbtn">{{ user.first_name }}   <i class='bx bx-user-circle'></i></a>
                <div class="dropdown-content">
                    {% if not user.is_barber %}
                    <a href="{{ url_for('views.my_orders') }}">My Orders <i class='bx bx-cart'></i></a>
                    {% else %}
                    <a href="{{ url_for('views.barber_page_get') }}">Cabinet</a>
                    {% endif %}
                    <a href="{{ url_for('views.profile') }}">Profile</a>
                    <a href="{{ url_for('views.settings') }}">Settings</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </li>
        </ul>
        {% endif %}
    </nav>
</header>

{% block content %}

{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>
