{% extends "base.html" %}

{% block title %}Choose Barber{% endblock %}

{% block head_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/final-draft.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"/>
<script src="{{ url_for('static', filename='js/final-draft.js') }}"></script>
{% endblock %}
{% block content %}

<!--FOR TABLE STYLE -->
<div class="section-section">
    <div class="wrapper">
        <h1 class="heading-1">Final Draft</h1>

        <div id="barbershopTables">
            <table class="barbershop-table">
                <tr>
                    <td>Barbershop</td>
                    <td>{{ barbershop[1] }}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{ barbershop[2]}},  <a id="openInGoogle" href="#">Open in Google Maps</a></td>
                </tr>
                <tr>
                    <td>Haircut</td>
                    <td>{{ haircut[1] }}</td>
                </tr>
                <tr>
                    <td>Barber</td>
                    <td>{{ barber[1] }}</td>
                </tr>
                <tr>
                    <td>Barber Rating</td>
                    <td>{{ barber[2] }} ⭐</td>
                </tr>
                <tr>
                    <td>Day</td>
                    <td>{{ day }}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{ time }}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{ haircut[2] }} UZS</td>
                </tr>
            </table>
        </div>
        <form class="controls" action="{{ url_for('views.book_now')}}" method="post">
            <input type="hidden" name="user_id" value="{{ current_user.id }}">
            <button class="book-now" type="button" onclick="window.location.href='/locations/target-haircut/barbers/available-days/available-hours'">Back</button>
            <button type="submit" id="book-now" class="book-now">Book Now</button>
        </form>
    </div>
</div>


<!--FOR CARD STYLE-->
<!-- FOR CARD STYLE
<div class="wrapper">
    <div class="barbershop-container">
        <div class="barbershop-card">
            <h2 class="barbershop-name">Barbershop Name</h2>
            <p class="location">Location: Address, City</p>
            <p class="target-haircut">Target Haircut: Style</p>
            <p class="barber">Barber: Barber Name</p>
            <p class="available-day">Available Day: Day</p>
            <p class="available-hour">Available Hour: Hour</p>
        </div>

    </div>
</div>
-->

{% endblock %}