{% extends "base.html" %}

{% block title %}Choose Target Haircut{% endblock %}

{% block head_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/target-haircut-styles.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"/>
<script src="{{ url_for('static', filename='js/target-haircut.js') }}"></script>
{% endblock %}

{% block content %}
<div class="frame-parent-wrapper">
    <div class="frame-parent">
        <div class="heading-1">Choose Target Haircut
            <div class="pagination">1/1</div>
        </div>
        {% for cut in haircuts %}
        <div class="barbershop">
            <div class="image-wrapper">
                <div class="barbershop-img" style="background-image: url('{{ cut.image_url }}');"></div>
                <button class="about">About</button>
            </div>
            <div class="info">
                <div class="haircut-name">{{ cut.haircut }}</div>
                <div class="price">{{ cut.price }} UZS</div>
            </div>
            <form method="post" action="{{ url_for('views.target_haircut') }}">
                <button type="submit" name="choose" value="{{ cut.haircut }}" class="choose">Choose</button>
            </form>
        </div>
        {% endfor %}

        <div class="controls">
            <button type="button" class="show-more">Show More</button>
            <button type="button" class="back-to-previous">Back</button>
        </div>
        <button type="button" class="back" onclick="window.location.href='/locations'">Back</button>
    </div>
</div>
{% endblock %}
